<%- include('./partials/header') %> 
    <div class="container">
        <form action="/dept" method="POST">
            <input type="text" name="deptname" class="form-control" placeholder="department name">
            <button class="btn btn-success">save</button>
        </form>
    </div>

    <div class="container my-3">
        <%if(depts.length>0){%>
            <table class="table">
                <thead>
                    <tr>
                        <th>id</th>
                        <th>department name</th>
                    </tr>
                </thead>
                <tbody>
                    <%depts.forEach(dept=>{%>
                        <tr>
                            <td scope="row"><%- dept.id %> </td>
                            <td><%- dept.deptname%> </td>
                        </tr>
                    <%})%>
                </tbody>
            </table>

            <%}else{%>
                <p>No deptarments</p>
            <%}%>
    </div>

    
<%- include('./partials/footer') %> 