<%- include('./partials/header') %> 
    <form action="" method="POST">
        <input type="text" class="form-control" name="username">
        <button class="btn btn-info">login</button>
    </form>
<%- include('./partials/footer') %> 