<%- include('./partials/header') %>
    <div class="container">
        <form action="" class="my-3" method="POST">
            <input type="text" class="form-control" name="rolename">
            <button class="btn btn-info">Add role</button>
        </form>
    </div>
    
<%- include('./partials/footer') %> 